body {
  color: bisque;
  text-align: center;
  background-color: rgb(41, 6, 84);
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
} 

button {
  height: 30vh;
  width: 30vh;
  border-radius: 10px;
  margin: 1rem;
  border: 15px solid rgb(0, 0, 0);
}

.row-1{
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

#blue {
  background-color: blue;
}

button:hover {
  opacity: 0.8;
}

.pressed{
  background-color: grey !important;
  box-shadow: 0 0 20px white;
}

.wrong-answer {
  background-color: rgb(255, 0, 0) !important;
}

.correct-answer {
  background-color: rgb(0, 255, 0) !important;
}

@media (max-width: 600px) {
  body {
    font-size: 1rem;
  }
  button {
    height: 40vw;
    width: 40vw;
    margin: 0.2rem;
  }
  
}
